extends base.pug

block title
  title Home
block body
  block extrajs
  script(src='/static/js/views/home/desktop.js')
  .brianStuff
    #overlay
      #exit
        img(id="button__exit" src="/static/images/views/home/exit.png")
      h1(id='overlay__title')
      h4(id='overlay__question')
      #container__answer
        button(id='button__yes') Yes
        button(id='button__no') No
      #goal__container 
        input(type='text' value='Happiness Goal' id='goal__happy')
        input(type='text' value='Water Goal' id='goal__water')
        input(type='text' value='Food Goal' id='goal__food')
        input(type='submit' id='button__submit' value='Submit')
    #overlay__shadow
    #button__profile
      img(src="/static/images/views/home/defaultProfilePic.png" id='profilePic')
    #messageContainer
      h1(id='message')= message
    #container__input
      #container__upgradeBtns
        <button id='button__happy'>
          <img src="/static/images/views/home/upArrow.svg" id='arrow__happy'>Increase Happiness
        </button>
        <button id='button__water'>
          <img src="/static/images/views/home/upArrow.svg" id='arrow__water'>Give Osmoe Water
        </button>
        <button id='button__food'>
          <img src="/static/images/views/home/upArrow.svg" id='arrow__food'>Give Osmoe Food
        </button>
      #container__stat
        h1(id='label__status')= statusLbl
        #container__happy
          h3= happyLbl
          .barContainer(id='container__bar')
            #bar__happy
        #container__water
          h3= waterLbl
          .barContainer
            #bar__water
        #container__food
          h3= foodLbl
          .barContainer
            #bar__food
    #container__osmoe
      #osmoe__background
        #osmoe__foreground
          img(src="/static/penguin/background/defaultBedroom.gif" id="backgroundImage")
          img(src="/static/penguin/osmoe/stationary/OSIdleX11.gif" id='osmoe')