
extends base.pug

block title
  title Home
block body
  block extrajs
  script(src='/static/js/home/home.js')
  #overlay
    #exit
      img(id="button__exit" src="/static/images/views/home/exit.png")
    h1(id='overlayTitle')
    h3(id='overlayQuest')
    #answerContainer
      #button__yes
        .label__answer(id='yesBtn') Yes
      #button__no
        .label__answer(id='noBtn') No
    #goal__container 
      input(type='text' value='Happiness Goal' id='goal__happy')
      img(id="addRemove__happy" src="/static/images/views/home/plus.png")
      input(type='text' value='Water Goal' id='goal__water')
      img(id="addRemove__water" src="/static/images/views/home/plus.png")
      input(type='text' value='Food Goal' id='goal__food')
      img(id="addRemove__food" src="/static/images/views/home/plus.png")
  #overlayShadow
  #button__profile
    img(src="/static/images/views/home/defaultProfilePic.png" id='profilePic')
  #messageContainer
    h1(id='message')= message
  #container__input
    #container__upgradeBtns
      #button__happy 
        img(src="/static/images/views/home/upArrow.svg" id="arrow__happy")
        h2(id='label__happy')= happinessBtn
      #button__water
        img(src="/static/images/views/home/upArrow.svg" id="arrow__water")
        h2(id='label__water')= waterBtn
      #button__food
        img(src="/static/images/views/home/upArrow.svg" id="arrow__food")
        h2= foodBtn
    #statContainer
      h1(id='label__status')= statusLbl
      #container__happy
        h3= happyLbl
        .barContainer(id='container__bar')
          #bar__happy
      #container__water
        h3= waterLbl
        .barContainer
          #bar__water
      #container__food
        h3= foodLbl
        .barContainer
          #bar__food
  #osmoeContainer
    #osmoeBackground
      #osmoeForeground
        img(src="/static/penguin/stationary/OSIdleX10.gif" id='osmoe') 
    

