
extends base.pug

block title
  title="Home"
block body
  block extrajs
    script(src='/static/js/views/home/desktop.js')
    script(src='/static/js/views/home/osmoeActions.js')
  .brianStuff
    #overlay
      #exit
        img(id="button__exit" src="/static/images/views/home/exit.png")
      h1(id='overlay__title')
      h3(id='overlay__question')
      #container__answer
        #button__yes
          .label__answer(id='yesBtn') Yes
        #button__no
          .label__answer(id='noBtn') No
      #goal__container 
        input(type='text' value='Happiness Goal' id='goal__happy')
        img(id="addRemove__happy" src="/static/images/views/home/plus.png")
        input(type='text' value='Water Goal' id='goal__water')
        img(id="addRemove__water" src="/static/images/views/home/plus.png")
        input(type='text' value='Food Goal' id='goal__food')
        img(id="addRemove__food" src="/static/images/views/home/plus.png")
    #overlay__shadow
    #button__profile
      img(src="/static/images/views/home/defaultProfilePic.png" id='profilePic')
    #messageContainer
      h1(id='message')= "Osmoe's Daily Inspirational Quote:"
    #container__input
      #container__upgradeBtns
        #button__happy 
          img(src="/static/images/views/home/upArrow.svg" id="arrow__happy")
          h2(id='label__happy')= "Increase Happiness"
        #button__water
          img(src="/static/images/views/home/upArrow.svg" id="arrow__water")
          h2(id='label__water')= "Give Osmoe Water"
        #button__food
          img(src="/static/images/views/home/upArrow.svg" id="arrow__food")
          h2(id='label__food')= "Feed Osmoe"
      #container__stat
        h1(id='label__status')= "Osmoe's Status:"
        #container__happy
          h3= "Happiness"
          .barContainer(id='container__bar')
            #bar__happy
        #container__water
          h3= "Water"
          .barContainer
            #bar__water
        #container__food
          h3= "Food"
          .barContainer
            #bar__food
    #container__osmoe
      #osmoe__background
        #osmoe__foreground
          img(src="/static/penguin/background/defaultBedroom.gif" id="backgroundImage")
          img(src="/static/penguin/osmoe/animated/OSIdleX11.gif" id='osmoe')
           
      

