
html

  head
    title= title
    style
      include ../sass/views/home.scss
  body
    #messageContainer
      h1(id='message')= message
    #inputContainer
      #upgradeBtns
        #happyBtn 
          img(src="../static/images/upArrow.svg" id="happyArrow")
          h2= happinessBtn
        #waterBtn
          img(src="../static/images/upArrow.svg" id="waterArrow")
          h2(id='waterLbl')= waterBtn
        #foodBtn
          img(src="../static/images/upArrow.svg" id="foodArrow")
          h2= foodBtn
      #statContainer
        h1(id='statusLbl')= statusLbl
        #happyContainer
          h3= happyLbl
          #happyBarContainer
            #happyBar
        #waterContainer
          h3= waterLbl
          #waterBarContainer
            #waterBar
        #foodContainer
          h3= foodLbl
          #foodBarContainer
            #foodBar
    #osmoeContainer
      #osmoeBackground
        #osmoeForeground
          img(src="../static/penguin/OSIdleX10.gif" id='osmoe')
    
    

